@model List<DownloadGroup>
@{
    ViewData["Title"] = "Downloads";
}

<a class="btn-floating btn-large waves-effect waves-light red" href="#" onclick="startAddFile(); return false;"><i class="material-icons">add</i></a>

<form asp-controller="Downloads" asp-action="ApiFile" id="FormAddFile" method="post" enctype="multipart/form-data" class="hide">
    <input name="file" type="file" id="InputAddFile" onchange="changedAddFile()" accept="*.dlc" />
</form>

<ul class="collection">
    @foreach(DownloadGroup group in Model)
    {
        <li data-id="@group.Id" class="collection-item avatar">
            @if(group.State == GroupStates.Paused)
            {
                <i class="material-icons circle grey">@group.GetIcon()</i>
            } else {
                <i class="material-icons circle green">@group.GetIcon()</i>
            }
            <span class="title"><a asp-controller="Downloads" asp-action="Detail" asp-route-id="@group.Id">@group.Name</a></span>
            <p>
                Downloaded: <span class="countD">-</span>/@group.ItemsCount<br />
                Extracted: <span class="countE">-</span>/@group.ItemsCount<br />
                Finished: <span class="countF">-</span>/@group.ItemsCount<br />
                Error: <span class="countX">-</span>/@group.ItemsCount<br />
            </p>
        </li>
    }
</ul>